* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

main {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(26, 26, 26),
    rgb(30, 30, 30),
    black
  );
  padding: 20px;
}

section {
  height: 100%;
  width: 350px;
  background-color: black;
  border-radius: 10px;
  margin: auto;
}

.allReels {
  height: 100%;
  width: 100%;

  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.allReels::-webkit-scrollbar {
  display: none;
}

.reel {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: lightseagreen;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.reel video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reel .bottom {
  padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.948));
  width: 100%;
  position: absolute;
  bottom: 0;
}

.bottom .user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.bottom .user img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.bottom .user h4 {
  font-size: 15px;
  font-weight: 500;
}

.bottom .user button {
  background-color: transparent;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid white;
}

.bottom > h3 {
  font-weight: 500;
  font-size: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: center;
  width: 40px;
  position: absolute;
  right: 20px;
  align-items: center;
  /* height: 100%; */
  /* transform: translateX(100%); */
  bottom: 12%;
  /* background: linear-gradient(to right, transparent,rgba(0, 0, 0, 0.284)); */
}

.right h4 {
  cursor: pointer;
}
.right i {
  font-size: 25px;
  font-weight: 500;
}

.right h6 {
  font-size: 15px;
  font-weight: 500;
}

.right > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
}

.love {
  color: red;
}

.right > div h4,
.right > div h6,
.right > div i {
  pointer-events: none;
}

.like h6,
.like h4 {
  pointer-events: none;
}

.speaker {
  position: absolute;
  top: 20px;
  right: 18px;
  font-size: 25px;
  cursor: pointer;
}

.speaker i {
  pointer-events: none;
}
